{% extends 'base.html.twig' %}

{% block title %} studio de production index{% endblock %}

{% block body %}

<div class="mt-5">
    {% include "fragments/_flash_message.html.twig" %}
    <h1>Liste des studios de productions</h1>

    <a href="{{ path('app_back_productionStudio_new') }}" class="btn btn-success">Ajouter</a>

    <div>
        {{ knp_pagination_render(productionStudios) }}
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productionStudio in productionStudios %}
            <tr>
                <td>{{ productionStudio.id }}</td>
                <td>{{ productionStudio.name }}</td>
                <td>
                    <a href="{{ path('app_back_productionStudio_show', {'id': productionStudio.id}) }}" class="btn btn-success rounded">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a href="{{path("app_back_productionStudio_edit", {id:productionStudio.id})}}" class="btn btn-light rounded">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <form method="post" action="{{ path('app_back_productionStudio_delete', {'id': productionStudio.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce studio de production?');" class="d-inline" >
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ productionStudio.id) }}">
                        <button class="btn btn-warning rounded"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
