
<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{asset('css/wtm.css')}}">
    <!-- favicon -->
   

    <title> {% block title %}What's the Movie{% endblock %}</title>
</head>

<body>

    <!-- Nav -->
    
    {# Si le mot back est présent dans la route #}
    {% if "back" in app.request.get("_route") %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% endif %}
    
  <div class="container-fluid">
            <a href="{{path("app_back_movie_home")}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                {#<img src="{{asset('favicon.png')}}" height="24" alt="Logo WTM">#}
                <span class="header-logo__title">WTM</span>
            </a>    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block movie_menu %}{% endblock %}" href="{{path("app_back_movie_home")}}"><i class="bi bi-film"></i>Films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if "app_back_actor" in app.request.get('_route') %}active{% endif %}" href="{{path("app_back_actor_index")}}"><i class="bi bi-emoji-sunglasses"></i> Acteur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Espace Personnel</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<main class="container">
  <div class="mt-4">
    {% block body %}{% endblock %}
  </div>
</main>

    {% if randomMovie is defined %}
        <div class="text-center pt-3 border-top" >
            <p>Un film au hasard : <a href="{{path("app_movie_show",{id:randomMovie.id, slug:randomMovie.slug})}}">{{randomMovie.title}}</a></p>
        </div>
    
    {% endif %}
    <!-- footer -->
    <footer class="container-fluid py-4 border-top text-center">
        <span class="text-muted">what's the movie made with &hearts; !
             
        </span>
    </footer>

    

    <!--  Bootstrap Bundle with Popper--> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    
</body>

</html>