{% extends 'base.html.twig' %}

{% block background %}

  <div class="container backoffice-background">
    <img src="https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg" alt="back-office" >
  </div>
{% endblock %}

{% block title %}


{% endblock %}

{% block body %}

     <!--      Gallery of the differents entities to manage in the back office        -->

  <div class="container gallery-pictures-back">
    <div class="row gallery-padding">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 movie-picture-gallery">
      <a align="center" class="btn btn-lg btn-outline-primary button-gallery mb-1 mt-1" type="button" href="{{ path('app_back_movie_home') }}" >Gérer les films</a>
      <img
        src="http://media.al.com/press-register-business/photo/moviegalleryjpg-84856d51a202ba70.jpg"
        class="img-fluid rounded img-gallery-size"
        alt="Movie Back Office"
      />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 user-picture-gallery">
      <a align="center" class="btn btn-lg btn-outline-primary button-gallery mb-1 mt-1" type="button" href="{{ path('app_back_user_list') }}">Gérer les utilisateurs</a>
      <img
        src="https://i0.wp.com/networknuts.net/wp-content/uploads/2019/11/zahir-accounting-software-have-more-than-60.000-users.png?resize=600%2C400&ssl=1"
        class="img-fluid rounded img-gallery-size"
        alt="Users Back Office"
      />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 actor-picture-gallery">
      <a align="center" class="btn btn-lg btn-outline-primary button-gallery mb-1 mt-1" type="button" href="{{ path('app_back_actor_index') }}">Gérer les acteurs</a>
      <img
        src="https://deadline.com/wp-content/uploads/2021/11/Expendables.jpg"
        class="img-fluid rounded img-gallery-size"
        alt="Actors Back Office"
      />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 genre-picture-gallery">
      <a align="center" class="btn btn-lg btn-outline-primary button-gallery mb-1 mt-1" type="button" href="{{ path('app_back_genre_index') }} ">Gérer les genres</a>  
      <img
        src="https://i.ytimg.com/vi/4KnJYtBVtNI/maxresdefault.jpg"
        class="img-fluid rounded img-gallery-size"
        alt="Genres Back Office"
      />
    </div>  
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 country-picture-gallery">
      <a align="center" class="btn btn-lg btn-outline-primary button-gallery mb-1 mt-1" type="button" href="{{ path('app_back_country_index') }} ">Gérer les pays</a>  
      <img
        src="https://geology.com/world/world-map.gif"
        class="img-fluid rounded img-gallery-size"
        alt="Countries Back Office"
      />
    </div>  
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 studio-picture-gallery">
      <a align="center" class="btn btn-lg btn-outline-primary button-gallery mb-1 mt-1" type="button" href="{{ path('app_back_productionStudio_index') }} ">Gérer les studios de production</a>  
      <img
        src="https://media2.ledevoir.com/images_galerie/nwd_1402451_1077649/image.jpg"
        class="img-fluid rounded img-gallery-size"
        alt="Production Studio Back Office"
      />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 director-gallery">
      <a align="center" class="btn btn-lg btn-outline-primary button-gallery mb-1 mt-1" type="button" href="{{ path('app_back_director_index') }} ">Gérer les réalisateurs</a>  
      <img
        src="http://www.tasteofcinema.com/wp-content/uploads/2015/06/best-british-directors.jpg"
        class="img-fluid rounded img-gallery-size"
        alt="Director Back Office"
      />
    </div>   
  </div>

{% endblock %}