{% extends 'base.html.twig' %}

{% block title %}Director index{% endblock %}

{% block body %}

<div class="mt-5">
    {% include "fragments/_flash_message.html.twig" %}
    <h1>Liste des réalisateurs</h1>

    <a href="{{ path('app_back_director_new') }}" class="btn btn-success">Ajouter</a>

    <div>
        {{ knp_pagination_render(directors) }}
    </div>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for director in directors %}
            <tr>
                <td>{{ director.id }}</td>
                <td>{{ director.lastname }}</td>
                <td>{{ director.firstname}}</td>
                <td>
                    <a href="{{ path('app_back_director_show', {'id': director.id}) }}" class="btn btn-success rounded">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a href="{{path("app_back_director_edit", {id:director.id})}}" class="btn btn-light rounded">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <form method="post" action="{{ path('app_back_director_delete', {'id': director.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce réalisateur?');" class="d-inline" >
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ director.id) }}">
                        <button class="btn btn-warning rounded"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
